body {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

td {
	vertical-align: top;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.fullwidth {
	width: 100%
}

.nowrap {
	white-space: nowrap;
}